# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Gradle & Java server build files
server/.gradle/
server/build/
server/*/build/
server/local.properties
server/server.conf
server/data/
server/db/
server/out/
server/.idea/
server/*.log 

# Claude settings
.claude
.claude/*

#freebuff
.freebuff
.freebuff/* 

#jar server
server.jar
